@charset "UTF-8";

/*mobile frist*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height:100vh;
}
body{
    background: black url("../imagens/back-phone.jpg") no-repeat center center;
    background-size: cover;
}
main{
    background-color: rgba(0, 0, 0, 0.332);

    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.327);
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.637);
}

img{
    display: block;
    margin: auto;
}

img#ph{display: block;}
img#tb{display: none;}
img#pc{display: none;}
img#tv{display: none;}
img#pi{display: none;}