@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background: black;
    padding-top: 50px;
    color: white;
    text-align: center;
}
header h1{
    font-variant: s'mall-caps';
}

section{
    margin-left:30px;
    margin-top: 10vh;
    margin-bottom: 10vw;
}
section p{
    font-size:3vw ;
    width: 35vw;
    line-height: 6vw;
}
